@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100%;
  background-color: black;
  color-scheme: dark;
}

::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #22c55e;
  border-radius: 10px;
  cursor: pointer;
}


